<div class="col-md-3 episode_column">

  <div class="image_relative_div">
  <a href="{% url 'content:episode_page' episode.slug %}">
    <img src="{% if episode.topic_image %}{{episode.topic_image.url}}{% endif %}" alt="" class="box_image box_image_shadow">
  </a>
  {% if episode.status == 'v' %}
    <div class="preview_episode_admin">
      <p>PREVIEWED EPISODE</p>
    </div>
  {% endif %}
  <div class="text_box_absolute greybackground">
  <div class="episode_title_link">
    <a href="{% url 'content:episode_page' episode.slug %}">{{ episode.title | safe}}</a>
  </div>
  <p class="author_name">by {{ episode.author.name | safe}}</p>
  <div class="box_episode_abstract">{{ episode.transcript|truncatewords:25 | safe }}</div>

  </div>

  </div>
</div>
