{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <style media="screen">
  body{
    color:#444;
    background-color: #f9f9f9;
  }
  .container{
    margin-left:15%;
    margin-right:15%;
    line-height: 25px;
  }
  .episode_div{
    background-color: white;
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
    border: 1px solid #bfbfbf;
  }
  </style>
  <link rel="stylesheet" href="{% static 'content/style.css' %}">
  <body>
<section class="container">

  <h1>Hello! This is the homepage of Knowitwall</h1>

  <h4>Check out <a href="{% url 'content:all_episodes' %}">All episodes</a></h4>
  <h4>Check out <a href="{% url 'content:about' %}">About Knowitwall</a></h4>

  {% if user.is_staff %}
  <h4>Hi {{ user }}!</h4>
  <p>Modify episodes <a href="/admin">here</a></p>
  {% endif %}

  {% for episode in episode_list %}

  <div class="episode_div">
    <h1><a href="{% url 'content:episode_page' episode.slug %}">{{ episode.title | safe}}</a></h1>
    <img src="{{ episode.topic_image.url }}" alt="" width="200px">
    <p>{{ episode.abstract | safe }}</p>
    {% if episode.status == 'v' %}
      {% include 'content/previewed_episode_tag.html' %}
    {% endif %}
  </div>

  {% endfor %}

<div class="episode_div">
  <form name="sentMessage" id="contactForm" novalidate>
  {% csrf_token %}
  <div class="row control-group">
    <div class="form-group col-xs-12 floating-label-form-group controls">
      <label>Overall Feedback</label>
      <textarea rows="4" class="form-control" name="feedback_overall" placeholder="We need your feedback to grow! Leave your tips here" id="message" required data-validation-required-message="Please enter some feedback!"></textarea>
      <p class="help-block text-danger"></p>
    </div>
  </div>


  <div class="row control-group">
    <div class="form-group col-xs-12 floating-label-form-group controls">
      <label>Name (optional)</label>
      <input type="text" class="form-control" name="name" placeholder="Your name (optional)" id="name">
      <p class="help-block text-danger"></p>
    </div>
  </div>

  <div class="row control-group">
    <div class="form-group col-xs-12 floating-label-form-group controls">
      <label>Email address (optional)</label>
      <input type="email" class="form-control" name="email" placeholder="Your email address (optional)" id="email">
      <p class="help-block text-danger"></p>
    </div>
  </div>
  <br>
  <div id="success"></div>
  <div class="row">
    <div class="form-group col-xs-12">
      <button type="submit" class="btn btn-success btn-lg">Send</button>
    </div>
  </div>
</form>
</div>

</section>


<script type="text/javascript" src="{% static 'content/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'content/jqBootstrapValidation.js' %}"></script>
<script type="text/javascript" src="{% static 'content/feedback_form.js' %}"></script>



  </body>
</html>
