.discipline_title > h1{
  padding-top: 50px;
  text-align: center;
  margin: 15px 10%;
  font-size: 4em;
  margin-bottom: 30px;
}
.discipline_title_line{
  border-top: 3px solid #ffc21c;
  margin: 0px 10%;
  margin-bottom: 40px;
}

.discipline_image_row{
  margin: 0;
}
.box_image{
  width: 50%;
  height: 60%;
  padding: 20px 0px;
}
.episode_abstract{
  width: 70%;
  font-size: 1em;
  font-weight: 400;
}
hr{
  margin-left: 0px;
  margin-right: 30%;
}
.discipline_episode_title > a{
  text-transform: none;
  font-size: 1.8em;
  font-weight: 300;
  color: #33353d;
}
.discipline_episode_title > a:hover{
  color: #ffc21c;
}

@media(min-width: 1200px){
  .container_discipline{
    width: 1000px;
    margin-left: 14%;
  }
}
@media(max-width:991px){
  .box_image, .episode_abstract{
    width: 100%;
  }
}
