.box_image{
  object-fit: cover;
  width: 100%;
  height: 110px;
}
.big_box_image{
  object-fit: cover;
  width: 100%;
  height: 340px;
  background: linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.6));
}

.homepage_row{
  padding-top: 60px;
}

.homepage_row_header{
  padding-bottom: 1%;
}
.latest_row_header{
  padding-bottom: 1%;
  padding-top: 7%;
}
.latest_vertical_rows{
  padding-bottom: 30px;
}
.container{
  width: 1100px;
}
.episode_title_link{
  padding-top: 10px;
}

.episode_title_link > a{
  text-transform: none;
  font-size: 1.25em;
  font-weight: 300;
  color: #33353d;
}
.episode_title_link > a:hover{
  color: #ffc21c;
}
section h1{
  text-transform: none;
  font-size: 2.5em;
  font-weight: 300;
}
section h2{
  padding-top: 5%;
  padding-right: 30%;
  text-transform: none;
  font-size: 1em;
  text-align: left;
  font-weight: 400;
  color: #33353d;
}

.homepage_3_cols{
  padding-top: 50px;
}

.box_images_3{
  object-fit: cover;
  width: 100%;
  height: 140px;
}
.big_title{
  font-size: 1.6em;
  padding-top: 12px;
}

.box_images_vertical{
  object-fit:cover;
  width: 100%;
  height: 90px;
}
.latest_vertical_boxes{
  padding-left: 10px;
}
.latest_title{
  padding-top: 0px;
}
.latest_title > a{
  font-size: 1.25em;
}
.big_episode_author_name{
  font-size: 1em;
  font-weight: 100;
  font-style: italic;
  padding-top: 8px;
}
.big_episode_abstract > p{
  font-size: 1.1em;
  font-weight: 300;
  padding-right: 20%;
  padding-top: 10px;
}
.big_episode_info{
  padding-left: 25px;
}
.row_3_eps{
  padding-right: 25px;
}
.box_episode_abstract > p{
  font-size: 1em;
  font-weight: 300;
  padding-right: 10%;
  padding-top: 10px;
}
.latest_vertical_abstract > p{
  font-size: 1em;
  font-weight: 300;
  padding-right: 20%;
  padding-top: 5px;
}
.author_name{
  font-size: 0.8em;
  color: #33353d;
  font-style: italic;
  padding-top: 5px;
  margin-bottom: 0px;
}
/* .overlay {
  position: relative;
}
.overlay:after {
  position: absolute;
  content:"";
  top:0;
  left:0;
  width:100%;
  height:100%;
  opacity:0.3;
  background: linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.6));
} */
