.box_image{
  object-fit: cover;
  width: 100%;
  height: 200px;
}
.box_image_shadow{
  box-shadow: 6px 6px 6px -6px #999;
}
.big_box_image{
  object-fit: cover;
  width: 100%;
  height: 340px;
  background: linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.6));
}

.homepage_row{
  padding-top: 60px;
}

.homepage_row_header{
  padding-bottom: 1%;
}
.latest_row_header{
  padding-bottom: 1%;
  padding-top: 7%;
}
.latest_vertical_rows{
  padding-bottom: 14px;
}
.episode_title_link{
  padding-top: 10px;
}

.episode_title_link > a{
  text-transform: none;
  font-size: 1.25em;
  font-weight: 300;
  color: #33353d;
}
.discipline_title_link > a{
  color: #33353d;
}
.episode_title_link > a:hover{
  color: #ffc21c;
}
.discipline_title_link > a:hover{
  color: #ffc21c;
}
section h1{
  text-transform: uppercase;
  font-size: 2em;
  font-weight: 300;
}
section h2{
  padding-top: 5%;
  padding-right: 30%;
  text-transform: none;
  font-size: 1em;
  text-align: left;
  font-weight: 400;
  color: #33353d;
}

.homepage_3_cols{
  padding-top: 50px;
}

.box_images_3{
  object-fit: cover;
  width: 100%;
  height: 240px;
}
.big_title{
  font-size: 1.6em;
  padding-top: 12px;
}

.box_images_vertical{
  object-fit:cover;
  width: 60%;
  height: 130px;
}
.latest_vertical_boxes{
  padding-left: 10px;
}
.latest_title{
  padding-top: 0px;
}
.latest_title > a{
  font-size: 1.25em;
}
.big_episode_author_name{
  font-size: 1em;
  font-weight: 100;
  font-style: italic;
  padding-top: 8px;
}
.big_episode_abstract > p{
  font-size: 1.1em;
  font-weight: 300;
  padding-right: 20%;
  padding-top: 10px;
}
.big_episode_info{
  padding-left: 25px;
}
.row_3_eps{
  padding-right: 25px;
}
.box_episode_abstract > p{
  font-size: 1em;
  font-weight: 300;
  padding-right: 10%;
  padding-top: 10px;
}
.latest_vertical_abstract > p{
  font-size: 1em;
  font-weight: 300;
  padding-top: 10px;
  display: none
}
.author_name{
  font-size: 0.8em;
  color: #33353d;
  font-style: italic;
  padding-top: 5px;
  margin-bottom: 0px;
}


.yellow_square{
  width: 25px;
  height: 25px;
  background: #ffc21c;
  opacity: 0.7;
  display: inline-block;
  margin-right: 17px;
  /* margin-top: 10px; */
  margin-bottom: -1px;
}
.video_player_square{
  position: absolute;
  top: 80%;
  left: 5%;
  width: 40px;
  height: 40px;
  background: #ffc21c;
  display: inline-block;
  z-index: 10;
  box-shadow: 0 4px 6px -6px #999;
}
.arrow-right {
  position: absolute;
  top: 23%;
  left: 38%;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 15px solid white;
}
.video_player_big_player{
  position: absolute;
  top: 8%;
  right: 39%;
  width: 80px;
  height: 80px;
  background: #ffc21c;
  display: inline-block;
  z-index: 10;
  box-shadow: 0 6px 6px -6px #999;
}
.arrow-right_big_player {
  position: absolute;
  top: 23%;
  left: 38%;
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 30px solid white;
}



.greybackground{
  /* background-color:#f5f5f5; */
  background-color: #fbfbfb;
}
.whitebackground{
  background-color: white;
}
.homepage_container{
  padding-bottom: 300px;
}
.homepage_season1_container{
  padding-bottom: 140px;
}
.homepage_audio_container{
  padding-bottom: 160px;
}
.homepage_video_container{
  padding-bottom: 250px;
}

.text_box_absolute{
  position: absolute;
  top: 80%;
  left: 5%;
  right: 10px;
  padding: 12px;
  height: 276px;
  box-shadow: 0 6px 6px -6px #999;
}
.video_text_box_absolute{
  width: 85%;
  height: 260px;
  padding-top: 50px;
}
.big_text_box_absolute{
  width: 85%;
  height: 260px;
}
.image_relative_div{
  position: relative;
  top: 0;
  left: 0;
}

/*  TEMPORARY DIV!!  */
.big_box_image_relative{
  width: 70%;
}
/* for the main video image */
.big_video_text_box_absolute{
  position: absolute;
  top: 5%;
  right: 0%;
  width: 40%;
  height: 90%;
  box-shadow: 0 6px 6px -6px #999;
}
.first_season_text_box_absolute{
    position: absolute;
    top: 5%;
    right: 0;
    padding: 12px;
    height: 80%;
    width: 50%;
    box-shadow: 0 6px 6px -6px #999;
}
.readmore_button_season1{
  position: absolute;
  bottom: 3%;
  right: 5%;
  font-weight: 300;
  text-decoration: underline;
}
.readmore_button_season1:hover{
  color: #ffc21c;
  text-decoration: underline;
}
.readmore_button_video{
    position: absolute;
    bottom: 7%;
    right: 2%;
    font-weight: 300;
    text-decoration: underline;
}
.readmore_button_video:hover{
  color: #ffc21c;
  text-decoration: underline;
}

/* ==================== */

/* style all episodes in the same way */
@media(max-width:991px){
  .box_images_vertical, .box_image, .box_images_3{
    height: 340px;
  }
  .latest_vertical_boxes, .homepage_3_cols{
    padding-top: 30px;
  }
  .homepage_row, .latest_row_header, .latest_title{
    padding-top: 8px;
  }
  .episode_column, .row_3_eps,{
    padding-bottom: 130px;
  }
  .audio_cols{
    padding-bottom: 200px;
  }
  .homepage_container{
    padding-bottom: 50px;
  }
  .text_box_absolute{
    height: 200px;
    top: 70%;
  }
  .video_text_box_absolute{
    height: 300px;
    top: 70%;
  }
  .latest_vertical_abstract > p{
    display: block;
  }
  .box_episode_abstract > p {
    padding-right: 0px;
  }
}
/* .video_container{
  position: absolute;
}
.words_bottom_left{
  position: relative;
  top: 0;
  left: 0;
} */
