.team_section > h1{
  text-align: center;
  font-size: 50px;
}

.team_description{
  margin: 50px 15%;
  line-height: 30px;
  text-align: center;
}
.team_bottom_line{
  width: 30%;
  margin-top: 60px;
  border-top: 2px solid #ecf0f1;
}
.team_section{
  padding-bottom: 0px;
}
.team_member_rows{
  margin: 60px 15%;
}
.teammember_center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.team_name{
text-align: center;
}
.team_role{
  width: 90%;
  text-align: center;
}
.team_title_wrapper{
  display: block;
  width: 50%;
  margin: auto;
}
.team_title{
  font-size: 57px;
  border-bottom: 2px solid rgba(255, 194, 28, 0.8);
  padding-bottom: 60px;
  width: 90%;
  margin: auto;
}
.team_member_cols{
  margin-top: 55px;
}
@media(max-width:991px){
  .team_member_rows{
    margin: 0;
  }
  .team_description{
    margin: 50px 8% 0 8%;f
  }
}
